*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background{
  background: url("./assets/falls.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.cover{
  position: absolute;
  height:100%;
  width:100%;
  background: #8d929a51;
}

nav{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  height:10rem;
  background: #9cc2f5;
  width:100%;
}

.bookmark{
  width: 50%;
  background: #549660;
  position: relative;
  top:5em;
  
}


